@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>1 800 TRSH PCK</h1>
    <p class="lead">We were 2 poor unemployed blokes with a truck, so we figure let's pick up trash and make some money. Well that's how it started.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            First login to our site, and create your account.  From that you can choose your pick up period, day of the week,
            special one time pickup.  You can even suspend pickup services if you're out of town for extended period of 
            time. You can check your account balance or any fees and make payments online. 
        </p>       
    </div>
    <div class="col-md-4">
        <h2>Service is our middle name</h2>
        <p>Most everything regarding our service can be done via your online account, but if you have other questions
        you can contact our friendly secretary Sharon and she'll be more than happy to assist you.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Phone contact</h2>
        <p>You can setup your account and service online, but if you wish, you could call us at 1800TrshPck</p>       
    </div>
</div>